@mixin text-max-line($line: 1) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

@mixin text-single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
